body {
  font-family: 'Proxima Nova';
  background-color: transparent;
  height: 100%; }

.app-content {
  min-height: 100vh;
  position: absolute;
  width: 100%; }

.wrapper {
  width: 960px;
  margin: 50px auto; }

nav {
  background-color: #f4f4f4;
  width: 100%; }
  nav .wrapper {
    margin: 0px auto; }

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  nav ul li {
    display: inline-block;
    padding: 10px 10px; }

.login-form .input-group {
  margin-bottom: 15px;
  min-width: 100%;
  display: block; }
  .login-form .input-group .form-control {
    float: none; }
  .login-form .input-group input {
    display: block; }
  .login-form .input-group label {
    display: block; }

.app-loader {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: table; }
  .app-loader .loader-text {
    text-align: center;
    border: 1px solid blue;
    display: table-cell;
    vertical-align: middle; }
  .app-loader .lnr {
    display: block;
    font-size: 30px;
    padding-bottom: 20px; }

#notifications {
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
  cursor: pointer; }
  #notifications .alert {
    margin-bottom: 0px;
    border-radius: 0px; }
  #notifications .alert-type {
    font-weight: 700;
    text-transform: capitalize; }
  #notifications .alert-error {
    background-color: #ef7572;
    color: #fff; }

.btn {
  border-radius: 0px;
  height: 37px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s;
  background-color: #7c93ab;
  color: #fff;
  border-color: #8da1b7;
  background-image: none; }
  .btn:hover {
    background-color: #68819a !important;
    border-color: #8da1b7;
    transition: 0.2s; }

.btn.btn-success {
  border-radius: 0px;
  height: 37px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s;
  background-color: #ff7680;
  color: #fff;
  border-color: #8da1b7;
  background-image: none; }
  .btn.btn-success:hover {
    background-color: #e2616a !important;
    border-color: #8da1b7;
    transition: 0.2s; }

.load-more {
  margin-top: 30px; }

.btn.btn-white {
  border: 1px solid #ddd;
  padding: 8px 23px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 11px;
  background-color: #fff;
  color: #919bad;
  border-radius: 3px; }
  .btn.btn-white:hover {
    background-color: #f7f7f7 !important;
    border-color: #ddd;
    transition: 0.2s; }

.dropzone-preview {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ddd; }
  .dropzone-preview img {
    max-width: 200px; }

.dropzone-inside {
  text-align: center; }
  .dropzone-inside h4 {
    text-align: center;
    margin: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #666; }
  .dropzone-inside .lnr {
    font-size: 60px;
    color: #666; }

.dropzone-with-preview {
  width: 410px; }
  .dropzone-with-preview .dropzone-preview {
    float: right; }

.page-title {
  padding-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  color: #585d65; }

.tags {
  padding-bottom: 20px;
  display: table;
  margin: auto; }
  .tags .tag {
    float: left;
    border: 1px solid #ddd;
    padding: 8px 23px;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #919bad;
    cursor: pointer;
    border-radius: 3px; }
    .tags .tag:hover {
      color: #585d65; }

.browse-search {
  width: 75%;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
  padding: 20px; }

.browse-filters {
  display: flex; }

.white-box {
  background-color: #fff;
  padding: 30px;
  top: 40px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #eee; }
  .white-box h1 {
    margin-top: 0px; }

.buttons-center {
  display: table;
  width: auto;
  margin: auto; }
  .buttons-center .btn {
    margin: 0px 10px;
    padding: 0px 30px; }

.top-users {
  display: flex;
  flex-wrap: wrap; }
  .top-users .design-author {
    background-color: #fff;
    box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 31.25%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 30px; }
    .top-users .design-author:nth-child(3n-2) {
      margin-left: 0px; }
    .top-users .design-author:nth-child(3n) {
      margin-right: 0px; }
    .top-users .design-author .author {
      float: left;
      font-size: 14px;
      padding-top: 1px;
      width: 58%;
      display: table; }
    .top-users .design-author .rating-position {
      float: left;
      width: 40px;
      font-size: 26px;
      color: grey;
      margin-top: 14px;
      margin-right: 5px; }
    .top-users .design-author .profile-picture {
      width: 60px;
      height: 60px; }
    .top-users .design-author .username {
      color: #9da1ad;
      font-weight: 400;
      font-size: 12px;
      margin-top: 1px;
      margin-bottom: 4px; }
    .top-users .design-author .hash {
      font-size: 22px;
      color: #ddd;
      margin-right: 2px; }

.design-grid {
  display: flex;
  flex-wrap: wrap; }

*:hover {
  text-decoration: none !important; }

.design-item {
  width: 31.25%;
  margin: 1.5%;
  text-align: left;
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff; }

.design-item:nth-child(3n) {
  margin-right: 0px; }

.design-item:nth-child(3n-2) {
  margin-left: 0px; }

.design-downloads {
  position: absolute;
  right: 0px;
  top: 22px;
  width: 30%; }
  .design-downloads .likes {
    width: 50%;
    float: left;
    cursor: pointer; }
    .design-downloads .likes:hover {
      color: #ff7680; }

.design-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 217px;
  background-size: cover;
  margin: auto;
  cursor: pointer; }

.design-details {
  background-color: #fff;
  color: #5c657d;
  position: relative;
  z-index: 99;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.design-title {
  font-weight: 600;
  font-size: 16px; }
  .design-title:hover {
    text-decoration: underline !important; }

.design-author {
  padding-top: 10px;
  display: table;
  margin-bottom: -5px; }
  .design-author .author {
    float: right;
    margin: 0px;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600; }
    .design-author .author .rating {
      font-weight: 400;
      line-height: 16px;
      margin-top: -2px;
      color: #6c7b8c; }
      .design-author .author .rating .lnr {
        font-size: 15px;
        position: relative;
        top: 2px;
        color: #4cd8ba;
        padding-left: 0px; }
  .design-author .profile-picture {
    float: left;
    margin: 0px;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.1); }

.profile-header {
  background-image: url("https://scontent-mrs1-1.xx.fbcdn.net/v/t31.0-8/13217477_10206660781386714_3998263393091863347_o.jpg?oh=44174a6d327200027146ae9c292b8fec&oe=58F38F96");
  background-position: center center;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-bottom: 0px; }
  .profile-header .profile-header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); }
  .profile-header .profile-header-content {
    z-index: 9;
    position: relative;
    height: 300px; }
  .profile-header .profile-picture {
    width: 220px;
    height: 220px;
    float: none;
    position: absolute;
    bottom: 30px;
    left: 30px; }
  .profile-header .btn {
    position: absolute;
    right: 30px;
    bottom: 30px; }
  .profile-header .profile-title {
    position: absolute;
    bottom: 30px;
    left: 280px;
    color: #fff; }
    .profile-header .profile-title h1, .profile-header .profile-title h2 {
      font-weight: 300;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8); }
    .profile-header .profile-title h1 {
      margin-top: 0px; }

.profile-header-bar {
  width: 100%;
  margin-top: 0px;
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 20px;
  color: #5c657d; }
  .profile-header-bar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  .profile-header-bar li {
    display: inline-block;
    padding: 0px;
    margin: 0px; }
  .profile-header-bar li a {
    display: block;
    padding: 15px 20px;
    border-right: 1px solid #eee;
    background-color: #fff;
    transition: 0.2s; }
    .profile-header-bar li a:hover {
      background-color: #f1f4f7;
      transition: 0.2s; }

.design-item-modal-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 999; }

.design-item-modal {
  position: fixed;
  z-index: 9999;
  width: 960px;
  height: 80vh;
  top: 10vh;
  left: calc(50vw - 480px);
  border-radius: 10px; }

.design-item-modal-content {
  background-color: #fff;
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: auto;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  display: flex; }

.design-image-big {
  width: 70%;
  height: 80vh;
  overflow: scroll;
  border-radius: 10px; }
  .design-image-big img {
    max-width: 100%; }

.design-modal-details {
  position: relative;
  width: 30%;
  margin-top: 30px;
  margin-right: 30px; }
  .design-modal-details .design-author {
    padding-top: 0px;
    margin-bottom: 10px; }
  .design-modal-details .design-downloads {
    float: none;
    position: relative;
    margin-top: 10px;
    top: 0px; }
  .design-modal-details .design-actions {
    position: absolute;
    bottom: 20px; }
    .design-modal-details .design-actions .btn {
      margin-right: 5px;
      height: 34px;
      font-size: 13px;
      padding: 2px 10px; }
  .design-modal-details .date {
    color: #aeb3bf;
    font-size: 12px;
    margin-bottom: 10px; }
    .design-modal-details .date .lnr {
      padding-right: 5px; }

.design-nav {
  position: absolute;
  margin-top: 40vh;
  z-index: 9999999;
  color: #fff;
  font-size: 30px;
  cursor: pointer; }
  .design-nav.previous {
    margin-left: -40px; }
  .design-nav.next {
    right: -40px; }

.rating {
  font-weight: 400;
  line-height: 16px;
  color: #6c7b8c; }
  .rating .lnr {
    font-size: 15px;
    position: relative;
    top: 2px;
    padding-left: 5px;
    color: #4cd8ba; }

.browse-header h2 {
  padding-top: 40px; }

a {
  text-decoration: none;
  color: inherit; }

.generator .wrapper {
  display: flex;
  min-height: 100vh;
  height: auto;
  margin: 0px;
  width: 100%;
  font-family: 'Proxima Nova';
  font-weight: 300; }

.sidebar {
  position: fixed;
  top: 50px;
  z-index: 1;
  width: 370px;
  height: calc(100vh - 50px);
  border-right: 1px solid #e8e8e8;
  background-color: #f4f4f4;
  overflow-y: scroll; }

.sidebar .panel-group {
  margin-left: 80px; }

.icons-bar {
  background-color: #7c93ab;
  color: #fff;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 80px;
  height: 100%; }

.icons-bar .menu-icon {
  text-align: center;
  border-bottom: 1px solid #8da1b7;
  padding: 20px 0px;
  cursor: pointer; }

.icons-bar .menu-icon:hover {
  background-color: #68819a; }

.icons-bar .menu-icon.active {
  background-color: #68819a; }

.icons-bar .menu-icon .icon {
  font-size: 30px; }

.icons-bar .menu-icon p {
  margin-bottom: 0px; }

.icons-bar .menu-icon.push-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%; }

.workcontent {
  background-color: #f9f9f9;
  min-height: 100vh;
  margin-left: 370px;
  top: 85px;
  position: absolute;
  width: calc(100% - 370px); }
  .workcontent.no-sidebar {
    width: 100%;
    margin-left: 0px; }
    .workcontent.no-sidebar .action-buttons {
      width: 100%; }

.option-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -5px;
  align-content: stretch; }

.option-column {
  background-color: #fbfbfb;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: calc(50% - 10px);
  padding: 10px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  display: flex;
  text-align: center; }

.option-column img {
  margin: auto; }

.option-column:hover {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.19);
  border-color: #ddd; }

.option-column.active {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.19);
  border-color: #ddd; }

.canvas {
  position: relative;
  margin: 60px auto;
  background-color: #fff;
  width: auto;
  height: auto;
  display: table;
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.29);
  padding: 6.35mm;
  box-sizing: border-box;
  transform-origin: top center; }

.canvas-printable {
  width: 210mm;
  min-height: 297mm;
  height: auto; }

.canvas-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #666;
  padding-bottom: 30px; }

.canvas-grid {
  display: flex;
  flex-wrap: wrap; }

.designed-label {
  padding: 10px;
  position: relative; }

.designed-label .label-text {
  position: absolute;
  top: 45%;
  text-align: center;
  color: #fff;
  width: 100%;
  left: 0px;
  right: 0px;
  font-size: 20px; }

.designed-label .label-text textarea {
  background-color: transparent;
  border: 0px;
  text-align: center;
  max-width: 100%; }

.label-image svg .customcolor {
  fill: #333 !important; }

.label-image .delete-label {
  background-color: #ff6b6b;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: -10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: none;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

.label-image:hover .delete-label {
  display: block; }

#label-size-range {
  width: 60%;
  float: left;
  margin-right: 20px;
  margin-top: 10px; }

.end-item {
  order: 99999; }

#add-label {
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
  padding-top: 50px; }

#add-label .lnr {
  font-size: 30px;
  color: #ddd; }

#add-label p {
  margin-top: 5px; }

.bg-image-option {
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  display: inline-block; }

.bg-image-option:nth-child(3n-2) {
  margin-left: 0px; }

.bg-image-option:nth-child(3n) {
  margin-right: 0px; }

.bg-image-option:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s; }

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  margin-top: -10px;
  margin-right: 15px; }

#text-style-italic {
  font-style: italic; }

#text-style-underline {
  text-decoration: underline; }

.navbar-reverse {
  background-image: none;
  background-color: #63dded; }

.action-buttons {
  background-color: #e4eaf1;
  border-bottom: #e4eaf1;
  width: calc(100% - 370px);
  height: 37px;
  position: fixed;
  top: 50px;
  z-index: 98; }

.action-buttons .btn {
  border-radius: 0px;
  height: 37px;
  background-color: #f4f4f4;
  color: #666;
  border-color: #eee;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s; }
  .action-buttons .btn:hover {
    background-color: #eee !important;
    transition: 0.2s; }

.action-buttons .btn .lnr {
  margin-right: 6px; }

.action-buttons .pull-right .btn {
  background-color: #7c93ab;
  color: #fff;
  border-color: #8da1b7;
  background-image: none; }
  .action-buttons .pull-right .btn:hover {
    background-color: #68819a !important;
    transition: 0.2s; }

.panel-group .panel + .panel {
  margin-top: 0px; }

.slider-number input[type=range] {
  width: 65%;
  float: right;
  margin-top: 9px; }

.slider-number .input-group {
  width: 35%; }

.input-color input[type=color] {
  width: 45px;
  float: left; }

.input-color input[type=text] {
  width: 80px; }

.text-align-btn, .text-style-btn {
  padding: 5px 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px; }

.text-style-btn {
  color: #666; }

.text-style-btn.active {
  color: #333;
  font-weight: 600; }

.text-align-btn img {
  width: 15px;
  opacity: 0.4; }

.text-align-btn.active img {
  opacity: 1; }

.placement-inputs .input-group {
  width: calc(50% - 6px);
  float: left;
  margin: 3px; }

.placement-inputs .input-group-addon {
  width: 64px;
  text-align: left;
  padding: 5px 9px; }

.input-group-addon {
  padding: 6px 8px; }

.placement-inputs .input-group-addon.px {
  width: auto; }

label {
  color: #3e6488; }

.form-group p {
  color: #a3b8c9; }

.panel-default > .panel-heading {
  color: #5c657d;
  background-image: none;
  background-color: #f1f4f7;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
  padding: 0px; }

.panel-group .panel {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #ddd; }

.panel-heading .lnr {
  margin-right: 10px;
  font-size: 20px; }

.panel-heading a {
  display: block;
  padding: 10px; }

.panel-heading a:hover {
  text-decoration: none; }

.customSecondaryColor {
  fill: #EF5B7F; }

.b {
  fill: #F1F2F2; }

.customcolor {
  fill: #5B5B5A; }

.navbar .container {
  width: 100%; }

.navbar-default {
  background-image: none;
  background-color: #ff7680;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999; }

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-brand {
  font-weight: 600; }

#main-nav {
  margin-bottom: 0px; }

#main-nav ul li {
  padding: 0px;
  display: block; }

.profile-picture {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  float: left;
  margin-top: 9px;
  margin-right: 0px; }

/* COLOR PICKER */
.color-picker-swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer; }

.color-picker-color {
  width: 28px;
  height: 24px;
  border-radius: 2px; }

.color-picker-popover {
  position: absolute;
  z-index: 999; }

.color-picker-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.label-shape {
  background-color: #333; }

.selected svg rect, .selected svg circle, .selected svg ellipse, .selected svg polygon, .selected svg path {
  stroke: #7eb9f6;
  stroke-width: 5px; }

.flex-input {
  display: flex; }

.flex-input > div {
  margin-right: 10px; }

.flex-input > div:last-child {
  margin-right: 0px; }

.width-30 {
  width: 35%; }

.border-button {
  cursor: pointer;
  padding-top: 8px;
  color: #666; }

.border-button:hover {
  color: #000; }

.design-shapes {
  display: flex;
  flex-wrap: wrap; }

.design-shape {
  width: 50%; }

.design-shape svg {
  cursor: pointer; }

@media print {
  .topnav, .sidebar, .action-buttons {
    display: none !important; }
  .workcontent {
    margin-left: 0px;
    width: 210mm;
    top: 0px; }
  .canvas {
    width: 100%;
    height: auto;
    margin: 0px;
    position: relative;
    top: 0px;
    padding: 0px;
    position: relative; }
  .canvas-footer {
    display: block;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  #add-label {
    display: none; }
  .designed-label .label-text span {
    color: inherit !important; }
  *, :after, :before {
    color: initial !important;
    text-shadow: initial !important;
    background: initial !important;
    box-shadow: initial !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    /* Non-Webkit Browsers */ }
  #notifications {
    display: none !important; }
  .inner-label-text {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    /* Non-Webkit Browsers */ } }

.canvas-pdf {
  width: 210mm;
  height: auto;
  padding: 5mm;
  transform: scale(0.748);
  transform-origin: 0 0; }
  .canvas-pdf .designed-label {
    padding: 5px; }

/* CALENDAR */
.calendar {
  width: 100%; }

.calendar-header {
  width: 100%;
  height: 400px;
  /*background-image: url('http://fashionovert.com/wp-content/uploads/2015/09/Great-Hipster-Girl-Outfits-Drawings-with-Photos-of-Hipster-Girl-Ideas-at-Gallery.jpg');*/
  background-image: url("https://images.unsplash.com/photo-1461775899071-bc47db1478c9?dpr=2&auto=compress,format&fit=crop&w=376&h=250&q=80&cs=tinysrgb&crop=");
  background-position: center center;
  background-size: cover;
  position: relative; }

.calendar-title {
  font-family: 'Playfair Display';
  font-size: 24px;
  position: absolute;
  bottom: 30px;
  left: 10px; }

.calendar-days, .calendar-days-names {
  display: flex;
  flex-wrap: wrap; }

.calendar-days-names .day {
  font-weight: 600;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.day {
  width: 14.28%;
  border-right: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
  text-align: center;
  padding: 20px 0px; }

.danger-zone .btn {
  display: block; }

.btn-danger {
  background-color: #e45454;
  border: 0px; }

.font-selector .font-input {
  position: relative;
  z-index: 10;
  width: 100%; }

.font-selector .selected-font {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  cursor: default;
  background-image: url("/img/select-arrow.png");
  background-repeat: no-repeat;
  background-position: 147px 8px;
  background-size: 12px; }
  .font-selector .selected-font:focus, .font-selector .selected-font:active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.font-selector ul {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #f0f0f0;
  border: 0.5px solid #bababa;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: -2px 9px 20px 0px rgba(0, 0, 0, 0.18);
  margin-top: -1px; }

.font-selector li {
  padding: 3px 6px;
  cursor: default; }
  .font-selector li:hover {
    background-color: #4396fb;
    color: #fff; }

.font-selector .click-outside {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9; }

.website {
  font-family: 'Proxima Nova';
  /* HERO SECTION */
  /* TOP NAVIGATION */
  /* TYPOGRAPHY */
  /* HORIZONTAL FORM */
  /* STANDARD FORM */
  /* FEATURES */
  /* CALL TO ACTION */
  /* FOOTER */ }
  .website * {
    box-sizing: border-box; }
  .website img {
    max-width: 100%; }
  .website .wrapper {
    width: 1140px;
    margin: auto; }
  .website section {
    padding: 70px 0px;
    position: relative; }
  .website .grey-bg {
    background-color: #f9f9f9; }
  .website .hero-section {
    min-height: 95vh;
    height: auto;
    width: 100%;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-position: center center;
    top: 0px;
    position: relative;
    padding: 0px; }
  .website .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgba(63, 63, 63, 0.33) 0%, rgba(215, 215, 215, 0.25) 47%);
    background-image: -o-linear-gradient(rgba(63, 63, 63, 0.33) 0%, rgba(215, 215, 215, 0.25) 47%);
    background-image: linear-gradient(rgba(63, 63, 63, 0.33) 0%, rgba(215, 215, 215, 0.25) 47%); }
  .website nav {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999; }
  .website nav ul {
    list-style-type: none;
    padding: 30px 0px;
    margin: 0px;
    float: right; }
  .website nav ul li {
    display: inline-block;
    padding: 0px 20px;
    margin: 0px;
    color: #fff; }
  .website nav ul li a {
    color: #fff; }
  .website nav ul li a:hover {
    color: inherit; }
  .website nav ul li.button a {
    background: #FF7680;
    border-radius: 100px;
    padding: 15px 30px;
    font-weight: 600; }
  .website nav .logo {
    width: 200px;
    float: left; }
  .website nav .logo img {
    max-height: 50px;
    display: none; }
  .website nav .logo h1 {
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
    font-weight: 600; }
  .website .main-heading {
    font-size: 30px;
    color: #FF7680;
    font-weight: 400;
    margin-bottom: 30px; }
  .website .main-heading + p {
    font-size: 18px;
    color: #4A6078;
    line-height: 26px;
    font-weight: 400; }
  .website .hero-block {
    margin-top: 200px;
    margin-bottom: 60px;
    padding: 20px 40px;
    padding-bottom: 30px;
    background: rgba(253, 253, 253, 0.97);
    box-shadow: 0px 0px 88px 0px rgba(0, 0, 0, 0.11); }
  .website .horizontal-form {
    margin-top: 40px; }
  .website .horizontal-form::after {
    clear: both;
    content: ''; }
  .website .form-input {
    font-weight: 300;
    font-size: 15px;
    color: #697785;
    letter-spacing: 0px;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 8px 14px;
    border: 1px solid #E9E9E9;
    outline: 0; }
  .website .form-input:focus {
    box-shadow: 0px 0px 22px 0px #EBC4C7; }
  .website .horizontal-form .form-input:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .website .horizontal-form .form-input:nth-child(2) {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px; }
  .website .primary-submit {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: #FF7680;
    border-radius: 100px;
    padding: 7px 30px;
    border: 0px; }
  .website .primary-submit.facebook {
    background: #3b5998; }
  .website .horizontal-form .primary-submit {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .website .standard-form {
    width: 80%;
    margin: auto;
    text-align: left; }
  .website .standard-form .form-input {
    display: block;
    margin: 2px auto;
    width: 100%; }
  .website .standard-form .input-group {
    margin: 15px 0px;
    width: 100%; }
  .website .standard-form .primary-submit {
    width: 100%;
    margin: 5px auto; }
  .website .more-link {
    margin-top: 20px; }
  .website .shaped-block {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 27px;
    background-image: url("/img/shape.svg");
    background-size: 260px; }
  .website .shaped-block.primary-color {
    background-image: url("/img/shape-primary.svg"); }
  .website .shaped-block.light {
    background-image: url("/img/shape-light.svg"); }
  .website .shaped-block.bottom {
    bottom: 0px; }
  .website .shaped-block.top {
    top: -27px; }
  .website .page-title {
    margin-top: 0px;
    padding-top: 0px; }
  .website .features {
    display: flex;
    width: 100%; }
  .website .features .feature {
    text-align: center;
    width: 25%;
    padding: 0px 20px; }
  .website .features .feature .icon {
    font-size: 60px;
    color: #FF7680;
    margin-bottom: 20px; }
  .website .features .feature h4 {
    margin-bottom: 30px; }
  .website .features .feature p {
    color: #7d8ea0; }
  .website .call-to-action.reversed {
    background-color: #FF7680;
    color: #fff; }
  .website .call-to-action.reversed h1, .website .call-to-action.reversed p {
    color: #fff; }
  .website .call-to-action.reversed .primary-submit {
    background-color: #333; }
  .website .small-cta {
    background-image: url("/img/cta2.jpeg");
    background-size: cover;
    background-position: center center;
    padding-bottom: 110px; }
    .website .small-cta h2 {
      color: #fff;
      margin-bottom: 30px;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); }
  .website img.framed-image {
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: -75px; }
  .website footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0px; }
  .website footer ul {
    padding: 0px;
    margin: 0px; }
  .website footer ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 1.8;
    color: #ddd; }
  .website footer h4 {
    margin-bottom: 30px; }
  .website footer ul li a {
    color: #ddd; }
  .website footer ul li a:hover {
    color: #fff;
    text-decoration: none; }
