body {
  font-family: 'Proxima Nova';
  background-color: transparent;
  height: 100%; }

.app-content {
  min-height: 100vh;
  position: absolute;
  width: 100%; }

.wrapper {
  width: 960px;
  margin: 50px auto; }

nav {
  background-color: #f4f4f4;
  width: 100%; }
  nav .wrapper {
    margin: 0px auto; }

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  nav ul li {
    display: inline-block;
    padding: 10px 10px; }

.login-form .input-group {
  margin-bottom: 15px;
  min-width: 100%;
  display: block; }
  .login-form .input-group .form-control {
    float: none; }
  .login-form .input-group input {
    display: block; }
  .login-form .input-group label {
    display: block; }

.app-loader {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: table; }
  .app-loader .loader-text {
    text-align: center;
    border: 1px solid blue;
    display: table-cell;
    vertical-align: middle; }
  .app-loader .lnr {
    display: block;
    font-size: 30px;
    padding-bottom: 20px; }

#notifications {
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
  cursor: pointer; }
  #notifications .alert {
    margin-bottom: 0px;
    border-radius: 0px; }
  #notifications .alert-type {
    font-weight: 700;
    text-transform: capitalize; }
  #notifications .alert-error {
    background-color: #ef7572;
    color: #fff; }

.btn {
  border-radius: 0px;
  height: 37px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s;
  background-color: #7c93ab;
  color: #fff;
  border-color: #8da1b7;
  background-image: none; }
  .btn:hover {
    background-color: #68819a !important;
    border-color: #8da1b7;
    transition: 0.2s; }

.btn.btn-success {
  border-radius: 0px;
  height: 37px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s;
  background-color: #ff7680;
  color: #fff;
  border-color: #8da1b7;
  background-image: none; }
  .btn.btn-success:hover {
    background-color: #e2616a !important;
    border-color: #8da1b7;
    transition: 0.2s; }

.load-more {
  margin-top: 30px; }

.btn.btn-white {
  border: 1px solid #ddd;
  padding: 8px 23px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 11px;
  background-color: #fff;
  color: #919bad;
  border-radius: 3px; }
  .btn.btn-white:hover {
    background-color: #f7f7f7 !important;
    border-color: #ddd;
    transition: 0.2s; }

.dropzone-preview {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ddd; }
  .dropzone-preview img {
    max-width: 200px; }

.dropzone-inside {
  text-align: center; }
  .dropzone-inside h4 {
    text-align: center;
    margin: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #666; }
  .dropzone-inside .lnr {
    font-size: 60px;
    color: #666; }

.dropzone-with-preview {
  width: 410px; }
  .dropzone-with-preview .dropzone-preview {
    float: right; }

.page-title {
  padding-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  color: #585d65; }

.tags {
  padding-bottom: 20px;
  display: table;
  margin: auto; }
  .tags .tag {
    float: left;
    border: 1px solid #ddd;
    padding: 8px 23px;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #919bad;
    cursor: pointer;
    border-radius: 3px; }
    .tags .tag:hover {
      color: #585d65; }

.browse-search {
  width: 75%;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
  padding: 20px; }

.browse-filters {
  display: flex; }

.white-box {
  background-color: #fff;
  padding: 30px;
  top: 40px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #eee; }
  .white-box h1 {
    margin-top: 0px; }

.buttons-center {
  display: table;
  width: auto;
  margin: auto; }
  .buttons-center .btn {
    margin: 0px 10px;
    padding: 0px 30px; }
    .buttons-center .btn:hover {
      color: #fff; }

.btn-danger:hover {
  color: #fff;
  background-color: #ac2925 !important; }

.top-users {
  display: flex;
  flex-wrap: wrap; }
  .top-users .design-author {
    background-color: #fff;
    box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 31.25%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 30px; }
    .top-users .design-author:nth-child(3n-2) {
      margin-left: 0px; }
    .top-users .design-author:nth-child(3n) {
      margin-right: 0px; }
    .top-users .design-author .author {
      float: left;
      font-size: 14px;
      padding-top: 1px;
      width: 58%;
      display: table; }
    .top-users .design-author .rating-position {
      float: left;
      width: 40px;
      font-size: 26px;
      color: grey;
      margin-top: 14px;
      margin-right: 5px; }
    .top-users .design-author .profile-picture {
      width: 60px;
      height: 60px; }
    .top-users .design-author .username {
      color: #9da1ad;
      font-weight: 400;
      font-size: 12px;
      margin-top: 1px;
      margin-bottom: 4px; }
    .top-users .design-author .hash {
      font-size: 22px;
      color: #ddd;
      margin-right: 2px; }
