body {
	font-family: 'Proxima Nova';
}

.wrapper {
	width: 960px;
	margin: 50px auto;
}

nav {
	background-color: #f4f4f4;
	width: 100%;

	.wrapper {
		margin: 0px auto;
	}
}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;

	li {
		display: inline-block;
		padding: 10px 10px;
	}
}


.login-form {
	width: 640px;

	.input-group {
		margin-bottom: 15px;
		min-width: 100%;
		display: block;

     .form-control {
        float: none;
     }

     input {
        display: block;
     }

		label {
			display: block;
		}
	}
}

.app-loader {
	background-color: #f4f4f4;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	display: table;

	.loader-text {
		text-align: center;
		border: 1px solid blue;
		display: table-cell;
		vertical-align: middle;
	}

	.lnr {
		display: block;
		font-size: 30px;
		padding-bottom: 20px;
	}
}


#notifications {
	position: fixed;
	z-index: 9999;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: none;
	cursor: pointer;

	.alert {
		margin-bottom: 0px;
		border-radius: 0px;
	}

	.alert-type {
		font-weight: 700;
		text-transform: capitalize;
	}
}

